<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
    <link rel="stylesheet" href="/static/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/static/jquery-ui.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="/static/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/static/jquery-ui-1.8.21.custom.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <style type="text/css" media="screen">
        ul {
            list-style: none;
            margin: 0px;
        }
        ul.error {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
	{% block content %}
	  
	{% endblock %}
    </div>
</body>
</html>

