{% extends "base.html" %}
{% block content %}
<h2>Time: {{year}}-{{month}}</h2>
<p>Income: {{income}}</p>
<p>Expenses: {{expense}}</p>
<p>Remain: {{total}}</p>
<h2>Expenses By Category</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{item.date}}</td>
            <td>{{item.category.name}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.description}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
